<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- link style sheet -->
    <link rel="stylesheet" href="/css/memberList-style.css" />

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="./favicon.png">

    <!-- link fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet" />
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="gothic fade">
    <div class="container">
        <div class="top-table">
            <a href="/login">Login></a><a href="memberList">MemberList></a>
            <div class="search-wrap">
                <i id="refresh" class="fa-solid fa-arrow-rotate-right">&nbsp;&nbsp;</i>
                <select name="select" class="select" id="select">
                    <option value="sel-name">이름</option>
                    <option value="sel-num">번호</option>
                    <option value="sel-id">아이디</option>
                    <option value="sel-email">이메일</option>
                    <option value="sel-gender">성별</option>
                    <option value="sel-location">지역</option>
                    <option value="sel-hobby">취미</option>
                </select>
                <input type="text" name="search" id="search" class="search" />
                <button type="submit" class="search-btn" id="search-btn">검색</button>
            </div>
        </div>
        <div class="table-wrap">
            <table border="1">
                <thead>
                    <th>번호</th>
                    <th>이름</th>
                    <th>아이디</th>
                    <th>이메일</th>
                    <th>성별</th>
                    <th>지역</th>
                    <th>취미</th>
                </thead>
                <tbody id="table">
                    <!-- 1 페이지 -->

                    <% if(users == ''){ %>
                    <tr>
                        <td colspan="6">멤버가 없습니다</td>
                    </tr>
                    <% 
                    }else {
                        users.forEach((user)=>{  
                    %>
                    <tr>
                        <td><%= user.idx%></td>
                        <td><%= user.userName%></td>
                        <td><%= user.userId%></td>
                        <td><%= user.userEmail%></td>
                        <td><%= user.userGender%></td>
                        <td><%= user.userLocation%></td>
                        <td><%= user.userHobby%></td>
                    </tr>
                    <% })} %>
                </tbody>
            </table>
        </div>
        <div class="paging-btn">
            <button id="pBtn" class="btn1">1</button>
            <button id="pBtn" class="btn2">2</button>
            <button id="pBtn" class="btn3">3</button>
            <button id="pBtn" class="btn4">4</button>
            <button id="pBtn" class="btn5">5</button>
        </div>
    </div>

    <!-- link script -->
    <script src="./js/memberList.js"></script>
</body>

</html>