<%-include('../header.ejs') %>
<link rel="stylesheet" href="/css/memberStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
    <div id="member-wrap">
        <section id="member-title" class="nanum">
            <h2>회원관리</h2>
        </section>

        <section id="member-table-section">
            <article id="member-table-article">
                <table border="1" id="member-table">
                    <thead>
                        <th>No</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>가입기간</th>
                        <th>-</th>
                    </thead>
                    
                    <% const date = new Date().toISOString().substring(0,10); %> 
                   <tbody>
                   <% if(result[0]==null){
                        for(let i = 0 ; i < 10 ; i++){%>
                    <tr class="nbsp-tr">
                        <td >&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td >&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                        <%} }else{
                    for( let i = (page * page_num) - page_num ; i < (page *
                    page_num); i++ ) { if(i > length){ i++; }else{ 
                        let data =
                    result[i]; 
                    %>
                    <tr>
                        <td><%=data.idx %></td>
                        <td><%=data.id %></td>
                        <td><%=data.name %></td>
                        <td><%=data.email %></td>
                        <td><%=data.regDate %> ~ <%=date%></td>
                        <td><i class="fa-solid fa-pencil icon" onclick= "updateUser('<%=data.idx %>')"></i> &nbsp;&nbsp;
                             <i class="fa-solid fa-trash icon" onclick= "deleteUser('<%=data.idx%>')"></i></td>
                    </tr> 
                    <% } }
                }%>
             </tbody>
                </table>
                <div id="paging-btn-wrap">
                <% for(let j = 0; j < result.length / page_num; j++){ %>
                                <button class="paging-btn"><a href="/member/list/page/<%= j + 1 %>"><%= j + 1 %></a></button>
                            <% } %>
                        </div>
                        
            </article>
            <article id="member-body">
                <div class="member-search">
                    <form action="" method="get">
                        <select name="select" id="search-select">
                            <option value="name">이름</option>
                            <option value="id">아이디</option>
                            <option value="email">이메일</option>
                            <option value="regDate">가입기간</option>
                        </select>
                        <input type="text" placeholder="검색어를 입력하세요" name="text" id="search-text" />
                       <input type="submit" value="검색"></input>
                    </form>
                </div>
            </article>
        </section>
    </div>
  
</main>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<script>
    document.title = "BitTravel > Member > List";
</script>
<script src="/js/member.js"></script>
<%-include('../footer.ejs') %>
